.buyerSide{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
}

.sellerSide {
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
}



