.front-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    margin-top: 3%;
}

.buyerSide{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    margin-top: 10%;
    padding-left: 10%;
}

.sellerSide {
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    margin-top: 10%;
    padding-right: 10%;
}

.sellerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    margin-top:5%;
    margin-bottom: 3%;
    padding-left: 10%;

}

.buyerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    margin-top:5%;
    margin-bottom: 3%;
    padding-right: 10%;
}



